# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]
*$py.class

# Encoding output directories and logs
completed/
original/
conv_logs/

# av1an and temporary indexing/intermediate files
.av1an/
*.vpy
*.ffindex
*.lwi
*.temp
